

#header {
    background-color: #f0f2f5;
    height: 720px;
    padding-bottom: 112px;
    padding-top: 72px;
    box-sizing: border-box;
    min-width: 500px;
}

#logo img{
    height: 106px;
    margin-top: 88px;
    display: block;
    
}

#logo h2{
    font-size: 28px;
    margin-left: 35px;
    font-family: Arial;
    font-weight: normal;
    
}

.frm {
    margin-top: 80px;
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto; 
    background: #fff;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    width: 396px;
}

.frm .input-field-email {
    border-radius: 6px;
    border: 1px solid #dddfe2;
    outline: none !important;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.frm .input-field-email:focus{
    border-color:#1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;
    outline: none !important;
    
}

.frm button.lgnbtn{
    outline: none !important;
    border: none;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 100%;
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; 
    display: block;
}

.frm button.lgnbtn:hover{
    background-color: #166fe5;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

.frm #passwdforgot:hover{
    text-decoration: underline;
    
}

.frm div.hrz-separator {
    border-bottom: 1px solid #dadde1;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.frm a.register-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #42b72a;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
}

.frm a.register-btn:hover{
    text-decoration: none;
    background-color: #36a420;
    border-color: #36a420;
}

.lang{
    
    margin-top: 20px;
}

.footer ul{
    list-style: none;
}

.footer ul li{
    display: inline-block;
    color: #737373;
    padding-right: 12px;
    font-size: small;
   
}

.footer ul li a{
    color:#737373
}

.footer .separator{
    border-bottom: 1px solid #dadde1;
    margin-left: 38px;
}

.lang{
    margin-top: 5px;
}

.footer ul li{
    padding-right: 10px;
}

.footer-main{
    margin-top: 5px;
}

.copyright{
    margin-left: 38px;
}

.copyright p{
    font-size: small;
    color:#737373
}

.copyright p span{
    font-weight: 500;
}

.registerform{
    box-shadow:  2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border: none;
    position: relative;
    top:50%;
    left: -50%;
    background: transparent;
    
    
}
@media screen and (max-width: 992px){
    .main{
        margin-top: -150px;
    }
    #logo img{
        margin-left: auto;
        margin-right: auto;
    }

    #logo h2 {
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
    }

    .frm{
        width: 100%;
    }
}
